<h1 class="uk-article-title">{{unittopic.title}}</h1>

<div
  class="uk-article-meta uk-margin-top uk-margin-medium-bottom uk-flex uk-flex-middle"
>
  <img
    class="uk-border-circle avatar"
    src="{% if unittopic.writer.profile_pic %}{{unittopic.writer.profile_pic.url}}{% endif %}"
    alt="{{unittopic.writer.user.username}} Image"
  />
  <div>
    Written by
    <span>{{unittopic.writer.user.username|title}}</span><br />
    <time datetime="2019-10-05">{{topic.pub_date|date:"M, d"}}</time>
  </div>
</div>

<p>{{unittopic.content}}</p>
<h2 id="image-lightbox-example">Image Lightbox Example</h2>
<p>
  Nunc porta malesuada porta. Etiam tristique vestibulum dolor at ultricies.
  Proin hendrerit sapien sed erat fermentum, at commodo velit consectetur.
</p>
