{% extends parent_template|default:"base.html" %}

<!-- load static -->

{% load static %}

<!-- load title -->

{% block title %} {{ block.super }} Contact {% endblock title %}

<!-- load css -->

{% block css %} {% endblock css %}

<!--  -->

<!-- load body -->

{% block content %}
<!-- check path -->

<div class="uk-section">
  <div class="uk-container uk-container-xsmall">
    <article class="uk-article">
      <h1 class="uk-article-title">Got Any Question or Request?</h1>
      <div class="article-content link-primary">
        <h5
          id="morbi-varius-in-accumsan-blandit-elit-ligula-velit-luctus-mattis-ante-nulla-nulla"
        >
          Morbi varius in accumsan blandit, elit ligula velit, luctus mattis
          ante nulla nulla.
        </h5>
        <form
          class="uk-form-stacked uk-margin-medium-top"
          method="POST"
          action="{% url 'contact:contact_view_form' %}"
        >
          {% csrf_token %} {% for field in form %}

          <div class="uk-margin-medium-bottom">
            <label
              class="uk-form-label uk-margin-small-bottom"
              for="{{field.id_for_label}}"
              >{{field.label}}</label
            >
            <div class="uk-form-controls">
              {{field}}
            </div>
          </div>
          {% endfor %}
          <div>
            <input type="hidden" name="_next" value="" />
            <input type="text" name="_gotcha" style="display: none;" />
            <input
              class="uk-button uk-button-primary uk-button-large uk-width-1-1"
              type="submit"
              value="Send"
            />
          </div>
        </form>
      </div>
    </article>
  </div>
</div>

{% endblock content %}

<!-- load js -->

{% block js %} {% endblock js %}
