{% extends parent_template|default:"base.html" %}

<!-- load static -->

{% load static %}

<!-- load title -->

{% block title %} {{ block.super }} {% endblock title %}

<!-- load css -->

{% block css %}

<style>
  .subscribe {
    padding: 40px;
    margin: 20px 0;
    border-radius: 100px;
    font-size: 22px;
  }
  input[type="email"] {
    padding-left: 40px !important;
  }
</style>
{% endblock css %}

<!--  -->

{% block sub_header %}

<div
  class="uk-section section-hero uk-position-relative"
  data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; repeat: true"
>
  <div class="uk-container uk-container-small">
    <p class="hero-image uk-text-center">
      <img src="{% static 'img/knowledge.svg' %}" alt="Hero" />
    </p>
    <h1 class="uk-heading-medium uk-text-center uk-margin-remove-top">
      How can we help you?
    </h1>
    <p class="uk-text-lead uk-text-center">
      Search or browse in depth articles and videos on everything on our awesome
      product, from basic setup to advanced features and everyday use
    </p>
    <div class="hero-search">
      <div class="uk-position-relative">
        <form
          class="uk-search uk-search-default uk-width-1-1"
          name="search-hero"
          action="{% url 'core:search_list_view' %}"
          method="get"
        >
          <span class="uk-search-icon-flip" data-uk-search-icon></span>
          <input
            id="search-hero"
            class="uk-search-input uk-box-shadow-large"
            type="search"
            placeholder="Search for answers"
            autocomplete="off"
            data-minchars="1"
            data-maxitems="30"
            name="q"
          />
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock sub_header %} {% block messages %} {% if messages %}
<!--  -->
{% for message in messages %}
<div class="toast" style="position: absolute; top: 0; right: 0;">
  <div class="toast-header">
    <img src="..." class="rounded mr-2" alt="..." />
    <strong class="mr-auto">Pharm</strong>
    <small>Just Now</small>
    <button
      type="button"
      class="ml-2 mb-1 close"
      data-dismiss="toast"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    {{message}}
  </div>
</div>
{% endfor %} {% endif %} {% endblock messages %}

<!-- load body -->

{% block content %}

<div class="uk-section">
  <div class="uk-container">
    <h2 class="uk-h1 uk-text-center">Browse Topics</h2>
    <p class="uk-text-lead uk-text-center">
      Chose an option that you need help with or search above
    </p>
    <div
      class="uk-child-width-1-3@m uk-grid-match uk-text-center uk-margin-medium-top"
      data-uk-grid
    >
      <div>
        <div
          class="uk-card uk-card-default uk-box-shadow-medium uk-card-hover uk-card-body uk-inline border-radius-large border-xlight"
        >
          <a
            class="uk-position-cover"
            href="{% url 'core:academic_list' %}"
          ></a>
          <span data-uk-icon="icon: cog; ratio: 3.4" class=""></span>
          <h3 class="uk-card-title uk-margin">Academic Notes</h3>
          <p>
            Get started fast with installation and theme setup instructions
          </p>
        </div>
      </div>
      <div>
        <div
          class="uk-card uk-card-default uk-box-shadow-medium uk-card-hover uk-card-body uk-inline border-radius-large border-xlight"
        >
          <a
            class="uk-position-cover"
            href="{% url 'core:list_research_lab_reports' %}"
          ></a>
          <span data-uk-icon="icon: settings; ratio: 3.4" class=""></span>
          <h3 class="uk-card-title uk-margin">Research/Lab Reports</h3>
          <p>
            Lean about all the theme options, features and how to use them
          </p>
        </div>
      </div>
      <div>
        <div
          class="uk-card uk-card-default uk-box-shadow-medium uk-card-hover uk-card-body uk-inline border-radius-large border-xlight"
        >
          <a
            class="uk-position-cover"
            href="{% url 'core:list_examination_papers' %}"
          ></a>
          <span data-uk-icon="icon: code; ratio: 3.4" class=""></span>
          <h3 class="uk-card-title uk-margin">Revison Materials</h3>
          <p>Get help or tailor the theme to your specific requirements</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="uk-section section-featured">
  <div class="uk-container uk-container-small">
    <h2 class="uk-h1 uk-text-center">Popular Articles</h2>
    <p class="uk-text-center uk-text-lead">
      Selected featured articles to get you started fast
    </p>
    <ul class="uk-list uk-list-large uk-margin-medium-top">
      <li>
        <a class="uk-box-shadow-hover-small" href="#"
          >Frequently asked questions about switching to our product</a
        >
      </li>
    </ul>
  </div>
</div>

<div class="uk-section section-videos">
  <div class="uk-container uk-container-small">
    <h2 class="uk-h1 uk-text-center">Video Lectures</h2>
    <p class="uk-text-lead uk-text-center">
      Watch screencasts to get you started fast with product
    </p>
    <div
      class="uk-child-width-1-2@m uk-grid-match uk-text-center uk-margin-medium-top"
      data-uk-grid
      data-uk-lightbox
    >
      <div>
        <div
          class="uk-card uk-card-default uk-box-shadow-small uk-box-shadow-hover-medium uk-card-body uk-inline border-radius-large border-xlight"
        >
          <a
            class="uk-position-cover"
            href="https://vimeo.com/268045310"
            data-caption="Getting Started"
          ></a>
          <span data-uk-icon="icon: play-circle; ratio: 3.4" class=""></span>
          <h3 class="uk-card-title uk-margin">Getting Started</h3>
          <p>Word the to embarrassed he homeless assistant</p>
        </div>
      </div>
      <div>
        <div
          class="uk-card uk-card-default uk-box-shadow-small uk-box-shadow-hover-medium uk-card-body uk-inline border-radius-large border-xlight"
        >
          <a
            class="uk-position-cover"
            href="https://youtu.be/Cx2dkpBxst8"
            data-caption="What is Figma"
          ></a>
          <span data-uk-icon="icon: play-circle; ratio: 3.4" class=""></span>
          <h3 class="uk-card-title uk-margin">What is Figma</h3>
          <p>Their a least are family question now that pur</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="uk-section">
  <div class="uk-container uk-container-small">
    <h2 class="uk-h1 uk-text-center">Frequently asked questions</h2>
    <p class="uk-text-center uk-text-lead">
      Find quick answers to frequent pre-sale questions asked by customers
    </p>
    <ul class="uk-margin-medium-top" data-uk-accordion="multiple: true">
      <li>
        <a class="uk-accordion-title uk-box-shadow-hover-small" href="#"
          >How can one join to be a writer?</a
        >
        <div class="article-content uk-accordion-content link-primary">
          <!-- content hr -->
          <p></p>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="uk-section section-team">
  <div class="uk-container uk-container-expand">
    <h2 class="uk-h1 uk-text-center">We are here to help</h2>
    <p class="uk-text-lead uk-text-center">
      Our team is just an email away ready to answer your questions
    </p>
    <div
      class="uk-margin-medium-top uk-grid-small uk-flex-center uk-text-center uk-margin-medium-top"
      data-uk-grid
    >
      {% if users %} {% for user in users %}
      <div>
        <div class="uk-card">
          <img
            class="uk-border-circle"
            src="{% if user.profile_pic %}{{user.profile_pic.url}}{% else %}{% static 'img/avatar-evan.png' %}{% endif %}"
            alt="{{user.user.first_name|default:user.user.username}}"
          />
          <h5 class="uk-margin-remove-bottom uk-margin-top">
            {{user.user.first_name}}
            {{user.user.last_name|title|default:user.user.username|title}}
          </h5>
          <p
            class="uk-article-meta uk-margin-remove-bottom uk-margin-small-top"
          >
            {{user.get_role_display}}
          </p>
        </div>
      </div>
      {% endfor %} {% endif %}
    </div>
  </div>
</div>

<div class="uk-section uk-text-center">
  <div class="uk-container uk-container-small">
    <div
      data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; repeat: true"
    >
      <h2 class="uk-h1 uk-margin-bottom">Didn't find an answer?</h2>
      <p class="uk-text-lead uk-text-center">
        Get in touch with us for details on setup and additional custom services
        pricing
      </p>
      <a
        class="uk-button uk-button-primary uk-button-large uk-margin-medium-top"
        href="{% url 'contact:contact_view_form' %}"
        >Contact Us</a
      >
    </div>
  </div>
</div>

<div class="uk-section uk-text-center">
  <div class="uk-container uk-container-small">
    <div
      data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; repeat: true"
    >
      <h2 class="uk-h1 uk-margin-bottom">Subscribe for updates</h2>
      <p class="uk-text-lead uk-text-center">
        Submit your email to receive daily update on articles, revision papers
        and research papers relaed to your course
      </p>

      <form
        method="post"
        class="uk-search uk-search-default uk-width-1-1"
        name="search-hero"
      >
        <span class="uk-search-icon-flip uk-button" data-uk-search-icon></span>
        {% csrf_token %} {% for field in subscribeForm %} {{field}} {% endfor %}
        <input
          type="submit"
          class="uk-button uk-button-primary uk-button-large uk-margin-medium-top"
          name="subscription"
          value="Subscribe"
        />
      </form>
    </div>
  </div>
</div>

{% endblock content %}

<!-- load js -->

{% block js %} {% endblock js %}
